.inputform-0 {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.inputform-1 {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}